<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Свои детали</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="../opp/">НАЗАД</a>
	    <h1>Список своих деталей</h1>
	    <h2>Редактирование таблицы</h2>
	    <br>
	    <h2 th:text="${msg}"></h2>
	    <br>
	    <div>
	    	<table id="list_of_items">
	   			<tr>
	   				<td>Поз.</td>
	   				<td>id</td>
	   				<td>Обозначение</td>
	   				<td>Наименование</td>
	   				<td>Внутренний диаметр, мм</td>
	   				<td>Сечение, мм</td>
	   				<td>Удалить</td>
	    			<td>Редактировать</td>
	   			</tr>
	   			<tr th:if="${items.empty}">
	            	<td colspan="8">Нет элементов в списке</td>
	       		</tr>
	   			<tr th:each="item, status : ${items}">
	   				<td th:text="${status.count}"></td>
	   				<td th:text="${item.id}"></td>
	   				<td><a href="#" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td th:text="${item.innerDiameter}"></td>
	   				<td th:text="${item.crossSection}"></td>
	   				<td><a th:href="@{/oring/delete/{id}(id=${item.getId()})}">Удалить</a></td>
	    			<td><a th:href="@{/oring/edit/{id}(id=${item.getId()})}">Редактировать</a></td>
	   			</tr>
	    	</table>
		</div>
		<br>
		<a href="../oring/">НАЗАД</a>
	</body>
</html>