<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Уплотнительные кольца</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="index">НАЗАД</a>
	    <h1>Список уплотнительных колец - O-Rings</h1>
	    <br>
	    <div>
	    	<table>
	    		<thead>
	    			<tr>
	    				<td>Поз.</td>
	    				<td>id</td>
	    				<td>Обозначение</td>
	    				<td>Наименование</td>
						<td>Сечение, мм</td>
						<td>Внутренний диаметр, мм</td>
						<td>Удалить</td>
	    				<td>Редактировать</td>
	    			</tr>
	    		</thead>
	    			<tr th:if="${listOring.empty}">
		            	<td colspan="7">Нет элементов в списке</td>
	        		</tr>
	    			<tr th:each="oring, status : ${listOring}">
	    				<td th:text="${status.count}"></td>
	    				<td th:text="${oring.id}"></td>
	    				<td th:text="${oring.number}"></td>
	    				<td th:text="${oring.name}"></td>
	    				<td th:text="${oring.crossSection}"></td>
	    				<td th:text="${oring.innerDiameter}"></td>
	    				<td><a th:href="@{/oring/delete/{id}(id=${oring.getId()})}">Удалить</a></td>
	    				<td><a th:href="@{/oring/edit/{id}(id=${oring.getId()})}">Редактировать</a></td>
	    			</tr>
	    		<tbody>
	    		</tbody>
	    	</table>
		</div>
		<br>
		<a href="index">НАЗАД</a>
	</body>
</html>