<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Резиновые кольца, O-Rings</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <p>Список уплотнительных колец</p>
	    <br>
	    <div>
	    	<form action="#" th:action="@{/oring/list}" th:object="${oringFilter}" method="post">
	      		<div>
		      		<ul>
			            <li th:each="crossSection : ${crossSectionEnable}" >
			                <input type="checkbox" th:value="${crossSection}" th:field="*{crossSectionListSelected}"/>
			                <span th:text="${crossSection}"></span> 
			            </li>
		            </ul>
	            </div>
	            <div>
	            	<input type="text" th:field="*{minInnerDiameter}"/>
		            <span>Мин. диаметр, мм</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{maxInnerDiameter}"/>
		            <span>Макс. диаметр, мм</span> 
	            </div>
	            <input type="submit" value="Submit" />
            </form>
	    </div>
	    <br>
	    <br>
	    <div>
		    <table>
			
	       		<tr>
		            <th> id </th>
		            <th> Обозначение </th>
		            <th> Стандарт </th>
	        	</tr>
    		
		    		
				<tr th:if="${orings.empty}">
		            <td colspan="2"> No Books Available </td>
	        	</tr>
	       		<tr th:each="oring : ${orings}">
		            <td><span th:text="${oring.id}"> Title </span></td>
		            <td><a href="#"><span th:text="${oring.name + ' ' + oring.number}"> Author </span></a></td>
		            <td><span th:text="${oring.standart}"> Author </span></td>
	       		</tr>
	    		
		    </table>
		</div>
		<br>
	</body>
</html>