<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Редактирование O-Rings</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <p>Редактирование параметров кольца</p>
	    <br>
	    <div>
	    
	    	<form th:action="@{/oring/edit/{id}(id=${oring.getId()})}" th:object="${oring}" th:method="POST">
	            <div>
	            	<input type="text" th:field="*{name}"/>
		            <span>Наименование</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{number}"/>
		            <span>Обозначение</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{crossSection}"/>
		            <span>Сечение, мм</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{innerDiameter}"/>
		            <span>Внутренний диаметр, мм</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{standart}"/>
		            <span>Стандарт</span> 
	            </div>
	            <input type="submit" value="Изменить" />
            </form>
            
         
	    </div>
	    <br>
	    <br>
		<br>
	</body>
</html>