<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Продукция</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <h1>Продукция</h1>
	    <br>
	    <div>
		    <ul>
				<li><a href='list'>Просмотр списка продукции</a></li>
<!-- 				<li><a href='add'>Добавить новый элемент</a></li>
				<li><a href='edit'>Редактировать список сборок</a></li> -->
			</ul>
		</div>
		<br>
		<br>
		<a href="../../">назад в главное меню</a>
	</body>
</html>