<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <h1>Главная страница</h1>
	    <br>
	    <div>
		    <ul>
				<li><a href='opp/index'>Детали собственного производства</a></li>
				<li><a href='oring/index'>O-Rings (Кольца уплотнительные)</a></li>
				<li><a href='asm/index'>Сборочные единицы</a></li>
				<li><a href='stp/index'>Стандартные изделия</a></li>
				<li><a href='buy/index'>Покупные изделия</a></li>
				<li><a href='vzk/index'>Взаимозаменяемые комплектующие</a></li>
			</ul>
		</div>
		<br>
	</body>
</html>

