<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <h1>Главная страница</h1>
	    <br>
	    <div>
		    <ul>
				<li><a href='opp/'>Детали собственного производства</a></li>
				<li><a href='oring/'>O-Rings (Кольца уплотнительные)</a></li>
				<li><a href='asm/'>Сборочные единицы</a></li>
				<li><a href='stp/'>Стандартные изделия</a></li>
				<li><a href='buy/'>Покупные изделия</a></li>
				<li><a href='vzk/'>Взаимозаменяемые комплектующие</a></li>
				<li><a href='product/'>Продукция</a></li>
			</ul>
		</div>
		<br>
	</body>
</html>

