<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Orings</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="../../">НАЗАД</a>
	    <h1>стандартных изделий</h1>
	    <br>
  	    <form th:action="@{/stp/list}" th:object="${filter}" method="post">
	    	<div>
	    		<p>	    				
	   				<input type="text" th:field="*{stringMap['NAME']}"/>
	   				<span>Наименование</span>
	    		</p>
	    		<p>
	    			<input type="text" th:field="*{stringMap['NUMBER']}"/>
	    			<span>Обозначение</span>
		    	</p>
	    	</div>
            <button class="button" type="submit">Обновить</button><br>
	    </form>
	    <div>
	    	<div>
	    	<table id="list_of_items">
	   			<tr>
	   				<td>Поз.</td>
	   				<td>id</td>
	   				<td>Обозначение</td>
	   				<td>Наименование</td>
	   				<td>Стандарт</td>
	   			</tr>
	   			<tr th:if="${items.empty}">
	            	<td colspan="8">Нет элементов в списке</td>
	       		</tr>
	   			<tr th:each="item, status : ${items}">
	   				<td th:text="${status.count}"></td>
	   				<td th:text="${item.id}"></td>
	   				<td><a href="#" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td th:text="${item.standart}"></td>
	   			</tr>
	    	</table>
		</div>
		<br>
		<a href="../../">НАЗАД</a>
	</body>
</html>