<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Деталь</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="../../opp/list/">НАЗАД</a>
	    <h1>Информация о детали</h1>
	    <br>
	    <div>
	    	<p th:text="${'тип = ' + type}"></p>
	    	<p th:text="${'ID = ' + id}"></p>	
		</div>
		<table id="list_of_items">
			<tr>
				<td colspan="2" th:text="${item.number}"/>
			</tr>
			<tr>
				<td>Наименование</td>
				<td th:text="${item.name}"/>
			</tr>
			<tr>
				<td>Статус</td>
				<td>
	   				<span th:if="${item.status == 'NOTE'}" th:text="'Извещение'"></span>
	   				<span th:if="${item.status == 'DESIGN'}" th:text="'Проектирование'"></span>
	   				<span th:if="${item.status == 'TASK'}" th:text="'Задание'"></span>
	   			</td>	
			</tr>
			<tr>
				<td>Версия</td>
				<td th:text="${item.version}"/>
			</tr>
			<tr>
				<td>Обновлен</td>
	   			<td th:text="${item.update}"/>
			</tr>	
			<tr>
				<td>Чертеж</td>
	   			<td><a href="#">Скачать</a></td>
			</tr>			
		</table>
		
		<h2>Вхождение в сборки</h2>
		<ul>
			<th:block th:each="item: ${oppInAsms}">
				<li><a href="#" th:text="${item['value'].getNumber()}"></a></li>
			</th:block>
		</ul>
		
		<br>
		<a href="../../opp/list">НАЗАД</a>
	</body>
</html>