<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Деталь</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="../../oring/list/">НАЗАД</a>
	    <h1>Информация о Кольце</h1>
	    <br>
	    <div>
	    	<p th:text="${'тип = ' + type}"></p>
	    	<p th:text="${'ID = ' + id}"></p>	
		</div>
		<table id="list_of_items">
			<tr>
				<td colspan="2" th:text="${item.number}"/>
			</tr>
			<tr>
				<td>Наименование</td>
				<td th:text="${item.name}"/>
			</tr>		
		</table>
				<h2>Вхождение в сборки</h2>
		<ul>
			<th:block th:each="item: ${oringInAsms}">
				<li><a href="#" th:text="${item['value'].getNumber()}"></a></li>
			</th:block>
		</ul>
		<br>
		<a href="../../oring/list/">НАЗАД</a>
	</body>
</html>