<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Добавление новой сборки</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <p>Добавить новую сборку:</p>
	    <br>
	    <p>Количество деталей = <span th:text="${asmCompositionForm.countOpp}"></span></p>
	    <p>Количество колец = <span th:text="${asmCompositionForm.countOring}"></span></p>
	    <p>Количество станд. изделий = <span th:text="${asmCompositionForm.countStp}"></span></p>
	    <p>Количество ВЗК = <span th:text="${asmCompositionForm.countVzk}"></span></p>
	    <p>Количество BUY = <span th:text="${asmCompositionForm.countBuy}"></span></p>
	    <p>Количество ASM = <span th:text="${asmCompositionForm.countAsm}"></span></p>
	    <div>
	    	<form th:action="@{/asm/add}" th:object="${asmCompositionForm}" th:method="POST">
	            <div>
	            	<input type="text" th:field="*{asm.number}"/>
		            <span>Обозначение</span> 
	            </div>
	            <br>
	            <div>
	            	<input type="text" th:field="*{asm.name}"/>
		            <span>Наименование</span> 
	            </div>
	          	<br>
	            <div>
	            	<select th:field="*{asm.status}">
		    			<option th:value="'NOTE'" th:text="Извещение"></option>
		    			<option th:value="'TASK'" th:text="Задание"></option>	
		    			<option th:value="'DESIGN'" th:text="Проектирование"></option>	
    				</select>
    				<span>Статус</span> 
	            </div>
	            
	            <br>
	            <div>
	            	<input type="text" th:field="*{asm.version}"/>
		            <span>Версия</span> 
	            </div>
	            <br>
	            <div>
	            	<input type="text" th:field="*{asm.update}"/>
		            <span>Дата</span> 
	            </div>
	            <br>
	 
	            <div>
		            <h2>Детали</h2>
		            <button type="submit" name="action" value="addOpp">Добавить строку</button>
		            <button type="submit" name="action" value="delOpp">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountOpp() == 0}">
				            <td colspan="4"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountOpp() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountOpp())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listOppId}">
	                         		<option th:each="opp : ${oppList}" th:value="${opp.id}" th:text="${opp.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listOppCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
				            </td>
			       		</tr>
			       		</th:block>
			    	</table>
	            </div>
	            <div>
		            <h2>Оринги</h2>
		            <button type="submit" name="action" value="addOring">Добавить строку</button>
		            <button type="submit" name="action" value="delOring">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountOring() == 0}">
				            <td colspan="4"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountOring() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountOring())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listOringId}">
	                         		<option th:each="oring : ${oringList}" th:value="${oring.id}" th:text="${oring.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listOringCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
			       		</tr>
			       		</th:block>
			    	</table>
			    	
	            </div>
	            <div>
		            <h2>Стандартные изделия</h2>
		            <button type="submit" name="action" value="addStp">Добавить строку</button>
		            <button type="submit" name="action" value="delStp">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountStp() == 0}">
				            <td colspan="4"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountStp() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountStp())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listStpId}">
	                         		<option th:each="stp : ${stpList}" th:value="${stp.id}" th:text="${stp.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listStpCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
				            </td>
			       		</tr>
			       		</th:block>
			    	</table>
	            </div>
	            <div>
		            <h2>ВКЗ</h2>
		            <button type="submit" name="action" value="addVzk">Добавить строку</button>
		            <button type="submit" name="action" value="delVzk">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountVzk() == 0}">
				            <td colspan="3"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountVzk() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountVzk())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listVzkId}">
	                         		<option th:each="vzk : ${vzkList}" th:value="${vzk.id}" th:text="${vzk.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listVzkCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
				            </td>
			       		</tr>
			       		</th:block>
			    	</table>
	            </div>
	            <div>
		            <h2>BUY</h2>
		            <button type="submit" name="action" value="addBuy">Добавить строку</button>
		            <button type="submit" name="action" value="delBuy">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountBuy() == 0}">
				            <td colspan="3"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountBuy() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountBuy())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listBuyId}">
	                         		<option th:each="buy : ${buyList}" th:value="${buy.id}" th:text="${buy.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listBuyCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
				            </td>
			       		</tr>
			       		</th:block>
			    	</table>
	            </div>
	             <div>
		            <h2>ASM</h2>
		            <button type="submit" name="action" value="addAsm">Добавить строку</button>
		            <button type="submit" name="action" value="delAsm">Удалить строку</button>
		            <br>
		            <table>
			       		<tr>
			       			<th> Поз.  </th>
				            <th> Обозначение  </th>
				            <th> Кол. </th>
			        	</tr>
						<tr th:if="${asmCompositionForm.getCountAsm() == 0}">
				            <td colspan="3"> добавить элементы </td>
			        	</tr>
			        	<th:block th:unless="${asmCompositionForm.getCountAsm() == 0}">
			       		<tr th:each="i : ${#numbers.sequence(1, asmCompositionForm.getCountAsm())}">
				            <td>
				            	<input type="text"/>
				            </td>
				            <td> 
					            <select th:field="*{listAsmId}">
	                         		<option th:each="asm : ${asmList}" th:value="${asm.id}" th:text="${asm.number}"/>
	                  			</select>
                  			</td>
				            <td>
				            	<select th:field="*{listAsmCounts}">
	                         		<option th:each="i : ${#numbers.sequence(1, 100)}" th:value="${i}" th:text="${i}"/>
	                  			</select>
				            </td>
			       		</tr>
			       		</th:block>
			    	</table>
	            </div>
	            <button type="submit" name="action" value="addInDB">Добавить в базу</button>
            </form>
	    </div>
	    <br>
	    <br>
		<br>
	</body>
</html>