<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Сборочные единицы</title>
		<link th:href="@{/styles/style4.css}" rel="stylesheet" />	
	</head>
	<body>
		<h4 th:text="'Пользователь : ' + ${userName}"></h4>
		<a href="../">НАЗАД</a>
		<h2 align="center">
			Сборочные единицы - <span class="underline_text">Список элементов</span>
		</h2>
		
		<form class="form-style-9" th:action="@{/asm/list/}" method="post" th:object="${filter}">
			<h2 align="center">
				Фильтр поиска
			</h2>
			<ul>
				<li>
				    <input type="text" class="field-style field-split align-left" placeholder="Обозначение"  th:field="*{number}"/>
				    <input type="text" class="field-style field-split align-right" placeholder="Наименование" th:field="*{name}"/>
				</li>
				<li>
					<input type="checkbox" th:field="*{design}" th:value="*{design}">
					<label>Проектирование</label>
				</li>
				<li>
					<input type="checkbox" th:field="*{task}" th:value="*{task}">
					<label>Задание</label>
				</li>
				<li>
					<input type="checkbox" th:field="*{note}" th:value="*{note}">
					<label>Извещение</label>
				</li>
				<li>
					<input type="submit" value="Применить" />
				</li>
			</ul>
		</form>
		<br>
		<br>
		<br>
		<table align="center">
			<thead>
			    <tr>
				    <th>№</th>
	   				<th>Обозначение</th>
	   				<th>Наименование</th>
	   				<th>Статус</th>
			    </tr>
			</thead>
			<tbody>
			    <tr th:each="item, status : ${items}">
	   				<td th:text="${status.count}"></td>
	   				<td><a th:href="@{/asm/list/{id}(id=${item.getId()}+'/')}" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td>
	   					<span th:if="${item.status == 'NOTE'}" th:text="'Извещение'" class="note"></span>
	   					<span th:if="${item.status == 'DESIGN'}" th:text="'Проектирование'" class="design"></span>
	   					<span th:if="${item.status == 'TASK'}" th:text="'Задание'" class="task"></span>
	   				</td>
	   			</tr>
			</tbody>
		</table>
		<br>
		<br>

	</body>
</html>