<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Сборочные единицы</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="index">НАЗАД</a>
	    <h1>Сборки</h1>
	    <br>
<!--  	    <div>
	    	<form th:action="@{/oring/list}" th:object="${oringListFilter}" method="post">
	    		<div>
	    			<p>	    				
	    				<input type="text" th:field="*{floatMap['min']}"/>
	    				<span>Минимальный внутренний диаметр, мм</span>
	    			</p>
	    			<p>
		    			<input type="text" th:field="*{floatMap['max']}"/>
		    			<span>Максимальный внутренний диаметр, мм</span>
		    		</p>
	    		</div>
	    		<div>
	    		
	    			<th:block th:each="defaultValues : *{booleanMap}">
	    				<p>
	    					<input type="checkbox" th:checked="${defaultValues.value}" th:value="${defaultValues.key}" th:field="*{floatList}"/>
	    					<span th:text="${defaultValues.key}"></span>
	    				</p>
	    			</th:block>
	    		
	    			 
	    			 <span>Диаметры</span>
	    		</div>
	    		<br>
	    		<input type="submit" value="Применить"/>
	    	</form>
	    </div>
	    <br>
	    <br>
	    <br>-->
	    <br>
	    <div>
	    	<table>
	    		<thead>
	    			<tr>
	    				<td>Поз.</td>
	    				<td>id</td>
	    				<td>Обозначение</td>
	    				<td>Наименование</td>
	    			</tr>
	    		</thead>
	    			<tr th:if="${listAsm.empty}">
		            	<td colspan="7">Нет элементов в списке</td>
	        		</tr>
	    			<tr th:each="asm, status : ${listAsm}">
	    				<td th:text="${status.count}"></td>
	    				<td th:text="${asm.id}"></td>
	    				<td th:text="${asm.number}"></td>
	    				<td th:text="${asm.name}"></td>
	    			</tr>
	    		<tbody>
	    		</tbody>
	    	</table>
		</div> 
		<br>
		<a href="index">НАЗАД</a>
	</body>
</html>