<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Сборочные единицы</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="index">НАЗАД</a>
	    <h1>Сборки</h1>
	    <br>
	    <h2>Добавление нового элемента</h2>
	    <h2 th:text="${msg}"></h2>
	    <div>
	    	<form th:action="@{/asm/add}" th:object="${asmComp}" method="post">
	    		<div>
	    			<p>	    				
	    				<input type="text" th:field="*{asm.number}"/>
	    				<span>Наименование</span>
	    			</p>
	    			<p>
		    			<input type="text" th:field="*{asm.name}"/>
		    			<span>Обозначение</span>
		    		</p>
	    		</div>
	    		<div>
	    			<p>
						<input type="radio" value="DESIGN" th:field="*{asm.status}">
						<span>Проектирование</span>
					</p>
					<p>
						<input type="radio" value="TASK" th:field="*{asm.status}">
						<span>Задание</span>
					</p>
					<p>
						<input type="radio" value="NOTE" th:field="*{asm.status}">
						<span>Извещение</span>
					</p>
	    		</div>
	    		<div>
	    			<p>	    				
	    				<input type="text" th:field="*{asm.version}"/>
	    				<span>Версия</span>
	    			</p>
	    			<p>
		    			<input type="text" th:field="*{asm.update}"/>
		    			<span>Дата обновления</span>
		    		</p>
	    		</div>
	    		<div>
	    			<h3>Входящие детали</h3>
	    			<div>
	    				<button type="submit" name="action" value="addOpp">Добавить строку</button>
		            	<button type="submit" name="action" value="delOpp">Удалить строку</button>
	    				<table>
	    					<thead>
	    						<tr>
	    							<td>№</td>
	    							<td>Обозначение</td>
	    							<td>Кол.</td>
	    						</tr>
	    					</thead>
	    					<tbody>
	    						<tr th:each="i : ${#numbers.sequence(0, asmComp.asmOppId.size()-1)}">
	    							<td th:text="${i+1}"></td>
	    							<td>
	    								<select th:field="${asmComp.asmOppId[__${i}__]}">
						                    <option value="">Nothing selected</option>
						                    <option th:each="opp : ${oppList}" th:value="${opp.id}" th:text="${opp.number}"/>
		                				</select>	
	    							</td>
	    							<td>
	    								<input type="text" th:field="*{asmOppCount[__${i}__]}" th:value="*{asmOppCount[__${i}__]}">
	    							</td>
	    						</tr>
	    					</tbody>
	    				</table>
					</div>
	    		</div>
	    		<br>
	    		<button type="submit" name="action" value="addInDB">Добавить в базу</button>
	    	</form>
	    </div>
	    <br>
	    <br>
		<a href="index">НАЗАД</a>
	</body>
</html>