<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Opp list</title>
		<link th:href="@{/styles/list_style.css}" rel="stylesheet" />	
	</head>
	<body>
		<a href="../opp/">НАЗАД</a>
	    <h1>Детали собственного производства</h1>
	    <br>
  	    <form th:action="@{/opp/list}" th:object="${filter}" method="post">
	    	<div>
	    		<p>	    				
	   				<input type="text" th:field="*{stringMap['NAME']}"/>
	   				<span>Наименование</span>
	    		</p>
	    		<p>
	    			<input type="text" th:field="*{stringMap['NUMBER']}"/>
	    			<span>Обозначение</span>
		    	</p>
	    	</div>
            <button class="button" type="submit">Обновить</button><br>
	    </form>
	    <div>
	    	<table id="list_of_items">
	   			<tr>
	   				<td>Поз.</td>
	   				<td>id</td>
	   				<td>Обозначение</td>
	   				<td>Наименование</td>
	   				<td>Статус</td>
	   				<td>Версия</td>
	   				<td>Дата</td>
	   			</tr>
	   			<tr th:if="${itemsFiltered.empty}">
	            	<td colspan="7">Нет элементов в списке</td>
	       		</tr>
	   			<tr th:each="item, status : ${itemsFiltered}">
	   				<td th:text="${status.count}"></td>
	   				<td th:text="${item.id}"></td>
	   				<td><a th:href="@{/data/opp/{id}(id=${item.getId()})}" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td>
	   					<span th:if="${item.status == 'NOTE'}" th:text="'Извещение'"></span>
	   					<span th:if="${item.status == 'DESIGN'}" th:text="'Проектирование'"></span>
	   					<span th:if="${item.status == 'TASK'}" th:text="'Задание'"></span>
	   				</td>
	   				<td th:text="${item.version}"></td>
	   				<td th:text="${item.update}"></td>
	   			</tr>
	    	</table>
		</div>
		<br>
		<a href="../opp/">НАЗАД</a>
	</body>
</html>