<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>STP</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <p>Стандартные изделия</p>
	    <br>
	    <!-- <div>
	    	<form action="#" th:action="@{/oring/list}" th:object="${oringFilter}" method="post">
	      		<div>
		      		<ul>
			            <li th:each="crossSection : ${crossSectionEnable}" >
			                <input type="checkbox" th:value="${crossSection}" th:field="*{crossSectionListSelected}"/>
			                <span th:text="${crossSection}"></span> 
			            </li>
		            </ul>
	            </div>
	            <div>
	            	<input type="text" th:field="*{minInnerDiameter}"/>
		            <span>Мин. диаметр, мм</span> 
	            </div>
	            <div>
	            	<input type="text" th:field="*{maxInnerDiameter}"/>
		            <span>Макс. диаметр, мм</span> 
	            </div>
	            <input type="submit" value="Submit" />
            </form>
	    </div> -->
	    <br>
	    <br>
	    <div>
		    <table>
	       		<tr>
	       			<th>Поз.</th>	
		            <th> id </th>
		            <th> Обозначение </th>
		            <th> Стандарт </th>
		            <th> Удалить </th>
		            <th> Редактировать </th>
	        	</tr>
				<tr th:if="${stps.empty}">
		            <td colspan="4"> No Books Available </td>
	        	</tr>
	       		<tr th:each="stp, status : ${stps}">
	       			<td><span th:text="${status.count}"></span></td>
		            <td><span th:text="${stp.id}"></span></td>
		            <td><a href="#"><span th:text="${stp.name + ' ' + stp.number}"></span></a></td>
		            <td><span th:text="${stp.standart}"> Author </span></td>
		            <td><a th:href="@{/stp/delete/{id}(id=${stp.getId()})}">Удалить</a></td>
		            <td><a th:href="@{/stp/edit/{id}(id=${stp.getId()})}">Редактировать</a></td>
	       		</tr>
		    </table>
		</div>
		<br>
	</body>
</html>