<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TechDocsSymbiosis - TDS</title>
		<link th:href="@{/styles/style4.css}" rel="stylesheet" />	
	</head>
	<body>
		<nav>
		  <ul>
		    <li>
		      <a href="./product/">Продукция</a>
		    </li>
		    <li>
		      <a href="./asm/">Сборки</a>
		    </li>
		    <li>
		      <a href="./opp/">Детали</a>
		    </li>
		    <li>
		      <a href="./oring/">O-rings</a>
		    </li>
		    <li>
		      <a href="./stp/">Стандартные изделия</a>
		    </li>
		    <li>
		      <a href="./vzk/">Взаимозаменяемые комплектующие</a>
		    </li>
		    <li>
		      <a href="./buy/">Покупные изделия</a>
		    </li>
		    <li>
		      <a href="./planning/">Планирование</a>
		    </li>
		  </ul>
		</nav>
		<h2 align="center">
			Описание разделов	
		</h2>	
		<div class="main_text_block">
			<p>
				<h2>Раздел продукция</h2>
				Список производимой продукции всех категорий: распределители, блоки питания, клапаны и др. В данный раздел вносится информация по применению конкретного экземпляра продукции, краткое описание и состав изделия.
			</p>
			
			<p>
				<h2>Раздел сборки</h2>
				Список всех сборочных единиц и подсборочных единиц, которые входят в состав изделия. Есть возможность просмотра состава сборочной единицы, так же возможно узнать статус сборочной единицы: извещение, задание либо проектирование и дата последнего обновления КД на данную единицу.
			</p>
			
			<p>
				<h2>Детали</h2>
				Список всех деталей собственного изготовления, детали изготавливаются самостоятельно по собственным чертежам, а так же имеют “нашу” систему обозначения.
			</p>
			
			<p>
				<h2>O-Rings</h2>
				Список всех уплотнительных колец. Возможность просмотра геометрических размеров колец.
			</p>
			
			<p>
				<h2>Стандартные изделия</h2>
				Список всех стандартных изделий. Стандартное изделие - изготовленное по какому-либо стандарту: ГОСТ, DIN и т.д. !!!Кроме уплотнительных колец, для них отдельный раздел!!!
			</p>
			
			<p>
				<h2>Взаимозаменяемые комплектующие</h2>
				Раздел для ВЗК, комплектующие которые могут друг друга полностью заменить, без изменения каких либо параметров. 
			</p>
			
			<p>
				<h2>Покупные изделия</h2>
				В данный раздел вносятся детали (или сборочные единицы), которые изготавливаются другими предприятиями и имеет свою систему обозначения. 
			</p>
			
			<p>
				<h2>Планирование</h2>
				В данном разделе возможно: 
				Сформировать группу изделий и получить развернутый состав данной группы.
				Сравнить состав двух изделий (в разработке). 
			</p>
		</div>
	</body>
</html>