<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Oring</title>
		<link th:href="@{/styles/style4.css}" rel="stylesheet" />	
	</head>
	<body>
		<nav>
		  <ul>
		    <li>
		      <a href="product/">Продукция</a>
		    </li>
		    <li>
		      <a href="asm/">Сборки</a>
		    </li>
		    <li>
		      <a href="opp/">Детали</a>
		    </li>
		    <li>
		      <a href="oring/">O-rings</a>
		    </li>
		    <li>
		      <a href="stp/">Стандартные изделия</a>
		    </li>
		    <li>
		      <a href="vzk/">Взаимозаменяемые комплектующие</a>
		    </li>
		    <li>
		      <a href="buy/">Покупные изделия</a>
		    </li>
		  </ul>
		</nav>
		<h2 align="center">
			Описание разделов	
		</h2>	
		<div class="main_text_block">
			<p>
				1. <b>Продукция</b> с обозначениями, габаритные чретежи.
			</p>
			<p>
				2. <b>Сборочные единицы</b> подсборки итд. 
			</p>
			<p>
				3. <b>Детали</b> собственного производства.
			</p>
		</div>
		<table align="center">
			<thead>
			    <tr>
				    <td>№</td>
	   				<td>Обозначение</td>
	   				<td>Наименование</td>
	   				<td>Статус</td>
	   				<td>Версия</td>
	   				<td>Дата</td>
			    </tr>
			</thead>
			<tbody>
			    <tr th:each="item, status : ${itemsFiltered}">
	   				<td th:text="${status.count}"></td>
	   				<td><a th:href="@{/data/opp/{id}(id=${item.getId()})}" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td>
	   					<span th:if="${item.status == 'NOTE'}" th:text="'Извещение'"></span>
	   					<span th:if="${item.status == 'DESIGN'}" th:text="'Проектирование'"></span>
	   					<span th:if="${item.status == 'TASK'}" th:text="'Задание'"></span>
	   				</td>
	   				<td th:text="${item.version}"></td>
	   				<td th:text="${item.update}"></td>
	   			</tr>
			</tbody>
		</table>
		
	</body>
</html>