<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Спецификация</title>
		<link th:href="@{/styles/style4.css}" rel="stylesheet" />	
	</head>
	<body>
		<nav>
		  <ul>
		    <li>
		      <a href="../../product/">Продукция</a>
		    </li>
		    <li>
		      <a href="../../asm/">Сборки</a>
		    </li>
		    <li>
		      <a href="../../opp/">Детали</a>
		    </li>
		    <li>
		      <a href="../../oring/">O-rings</a>
		    </li>
		    <li>
		      <a href="../../stp/">Стандартные изделия</a>
		    </li>
		    <li>
		      <a href="../../vzk/">Взаимозаменяемые комплектующие</a>
		    </li>
		    <li>
		      <a href="../../buy/">Покупные изделия</a>
		    </li>
		  </ul>
		</nav>
		<a href="../asm/">НАЗАД</a>
	    <h2 align="center">
			Сборки - <span class="underline_text">Спецификация</span>
		</h2>
	    <br>
	    <p>Обозначение: <span th:text="${spec.asm.number}"></span></p>
		<p>Наименование: <span th:text="${spec.asm.name}"></span></p>
		<table>
			<thead>
				<tr>
					<th>Обозначение</th>
					<th>Кол.</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:unless="${spec.asmsMap.empty}">
					<tr>
						<td colspan="2"><b>Сборочные единицы</b></td>
					</tr>
					<tr th:each="item : ${spec.asmsMap}">
						<td th:text="${item['key']}"/>
						<td th:text="${item['value']}"/>
					</tr>
				</th:block> 
				<th:block th:unless="${spec.oppsMap.empty}">
					<tr>
						<td colspan="2"><b>Детали</b></td>
						
					</tr>
					<tr th:each="item : ${spec.oppsMap}">
						<td th:text="${item['key']}"/>
						<td th:text="${item['value']}"/>
					</tr>
				</th:block> 
				<th:block th:unless="${spec.oringsMap.empty}">
					<tr>
						<td colspan="2"><b>O-Rings</b></td>
					</tr>
					<tr th:each="item : ${spec.oringsMap}">
						<td th:text="${item['key']}"/>
						<td th:text="${item['value']}"/>
					</tr>
				</th:block> 
				<th:block th:unless="${spec.vzksMap.empty}">
					<tr>
						<td colspan="2"><b>Взаимозаменяемые комплектующие</b></td>
					</tr>
					<tr th:each="item : ${spec.vzksMap}">
						<td th:text="${item['key']}"/>
						<td th:text="${item['value']}"/>
					</tr>
				</th:block> 
				<th:block th:unless="${spec.stpsMap.empty}">
					<tr>
						<td colspan="2"><b>Стандартные изделия</b></td>
					</tr>
					<tr th:each="item : ${spec.stpsMap}">
						<td th:text="${item['key']}"/>
						<td th:text="${item['value']}"/>
					</tr>

				</th:block>
			</tbody>
		</table>
		<hr class="hr-circle">
		<a th:href="@{/spec/detailed/{id}(id=${spec.asm.id})}">РАЗВЕРНУТЬ ПОДСБОРКИ</a>
		<br>	
		<a href="../asm/">НАЗАД</a>
	</body>
</html>