<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Покупнуха</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <p>Покупные детали</p>
	    <br>
		<h2>Список покупных изделий</h2>
		<table class="container">
			<thead>
				<tr>
					<td><h2>Поз.</h2></td>
					<td><h2>ID</h2></td>
					<td><h2>Обозначение</h2></td>
					<td><h2>Наименвоание</h2></td>
					<td><h2>Производитель</h2></td>
				</tr>
			</thead>
				<tr th:each="buy, status : ${buyies}">
					<td><span th:text="${status.count}"></span></td>
					<td><span th:text="${buy.id}"></span></td>
					<td><span th:text="${buy.number}"></span></td>
					<td><span th:text="${buy.name}"></span></td>
					<td><span th:text="${buy.manufacturer}"></span></td>
				</tr>
			<tbody>
			
			</tbody>
		</table>
	</body>
</html>
