<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Покупные изделия</title>
		<link th:href="@{/styles/style.css}" rel="stylesheet" />	
	</head>
	<body>
	    <h1>Покупные изделия (изготовленные другим производителем)</h1>
	    <br>
	    <div>
		    <ul>
				<li><a href="list">Просмотр списка деталей</a></li>
				<li><a href="add">Добавить новый элемент</a></li>
				<li><a href="edit">Редактировать список деталей</a></li>
			</ul>
		</div>
		<br>
		<a href="../../">назад в главное меню</a>
	</body>
</html>