<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Покупные изделия</title>
		<link th:href="@{/styles/style4.css}" rel="stylesheet" />	
	</head>
	<body>
		<h4 th:text="'Пользователь : ' + ${userName}"></h4>
		<a href="../">НАЗАД</a>
		<h2 align="center">
			Покупные изделия - <span class="underline_text">Редактировать список элементов</span>
		</h2>
		<a href="/buy/edit/add/">Добавить новый элемент</a>
		<h2 th:text="${msg}" class="design"></h2>
		<table align="center">
			<thead>
			    <tr>
				    <th>№</th>
	   				<th>Обозначение</th>
	   				<th>Наименование</th>
	   				<th>Производитель</th>
	   				<th>Удалить</th>
	   				<th>Редактировать</th>
			    </tr>
			</thead>
			<tbody>
			    <tr th:each="item, status : ${items}">
	   				<td th:text="${status.count}"></td>
	   				<td><a th:href="@{/buy/list/{id}(id=${item.getId()}+'/')}" th:text="${item.number}"></a></td>
	   				<td th:text="${item.name}"></td>
	   				<td th:text="${item.manufacturer}"></td>
	   				<td><a th:href="@{/buy/edit/delete/{id}(id=${item.getId()}+'/')}">Удалить</a></td>
	    			<td><a th:href="@{/buy/edit/{id}(id=${item.getId()}+'/')}">Редактировать</a></td>
	   			</tr>
			</tbody>
		</table>
	</body>
</html>