

table {
  font-size: 18px;
  border-collapse: collapse;
}

thead {
	color: green;
}

td, th {
    padding: 3px;
    border: 1px solid black;
}

th {
    background: rgb(0, 128, 255);
}


h2 {
	color:#336633;
	font-size: 24px;
}

body {
	background-color: #faffe2;	
}
 
